.AdminReviewReported {
  text-align: justify;

  table {
    font-size: 20px;
    border: none;
    width: 100%;

    .TableHeader {
      position: sticky;
      top: 0;
      background-color: #ffac8f!important;
    }

    tr {
      button {
        color: white;
        font-size: 20px;
        padding: 5px 10px;
        border: none;
        background-color: #40404000;
      }

      button:hover {
        background-color: #404040;
      }

      td {
        padding: 5px 10px;
        max-width: 200px;
        word-wrap: break-word;
      }
    }

    tr:nth-child(odd) {
      background-color: #ffcdbb;
    }

    tr:nth-child(even) {
      background-color: #ffac8f;
    }
  }

  .TableNavigation {
    font-size: 20px;

    button {
      font-size: 15px;
      border: none;
      background-color: #303030;
      color: white;
      padding: 4px 10px;
      margin: 10px;
      border-radius: 10px;
    }

    button:hover {
      background-color: #404040;
    }

    span {
      margin: 5px;
    }
  }
  .reportedQuestions {
    font-size: 20px;
  }

}